<section class="header__section__container row m-0 p-0">
    <!-- logo -->
    <div class="col-3 header__logo__style">
        <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="col-3 text-light pt-3">
        {{today | date:'d MMMM y'}}
    </div>
    <div class="col-6">
        <div class="row m-0 p-0 justify-content-end">
            <div class="col-4 pt-3">
                <select class="w-100" name="langChange" (ngModelChange)="languageChange(languageCode)"
                    [(ngModel)]="languageCode">

                    <option *ngFor='let item of languages' [ngValue]='item.languageCode'>
                        {{item.languageName}}</option>
                </select>
            </div>
            <div class="col-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>