.header__section__container{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    height: 60px;
    .header__logo__style img{
        height: 40px;
        width: auto;
    }
    .header__profile-image__modifier{
        height: 25px;
        width: 25px;
        border:1px solid transparent;
        border-radius: 50%;
    }
}