<div class="row m-0 p-0">
  <!-- header -->
  <div class="col-12 p-0">
    <app-header></app-header>
  </div>
  <!-- body -->
  <div class="col-12 p-0">

    <div class="row m-0 p-0">
      <!-- side menu -->
      <div class="col-3">
        <app-side-menu></app-side-menu>
      </div>

      <!-- container -->
      <div class="col-9">
        <div class="row m-0 p-0">
          <!-- router -->
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
          <!-- footer -->
          <div class="col-12">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>